.tittle{
    font-size: 1.25rem;
}
.divCo{
    display: flex;
    align-items: center;
    justify-content:center ;
    margin:10px ;
}

.Detail{
    color: black;
    border:solid black 1px;
}

.Detail :hover{
    background-color: black !important;
    box-shadow: 0px 15px 20px rgba(255, 64, 214, 0.4);
    color: #fff;
    transform: translateY(-1px); 
}

.buttonInnfo{
    background-color: white !important;
    margin: 7px;
    border: solid #feb2cdd6 2px !important;
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 126, 173)!important;
    box-shadow: rgb(0 0 0 / 20%) 4px 4px 4px 2px
}

.buttonInnfo:hover{
    background-color:rgb(255, 190, 214) !important;
    color: rgb(255, 255, 255)!important;
    box-shadow: rgb(0 0 0 / 20%) 4px 4px 4px 2px !important
    ;
}
