.tittle{
    font-size: 1.4rem;
    font-family: var( --fonts-) !important;
    font-weight: 900;
}
.divCo{
    display: flex;
    align-items: center;
    justify-content:center ;
    margin:10px ;
}

.Detail{
    color: black;
    border:solid black 1px;
}

.Detail :hover{
    background-color: black !important;
    box-shadow: 0px 15px 20px rgba(255, 64, 214, 0.4);
    color: #fff;
    transform: translateY(-1px); 
}

.buttonInnfo{
    background-color: antiquewhite !important;
    margin: 7px;
    /* border: solid rgb(255, 199, 144) 2px !important; */
    border: solid transparent 2px !important;
    color: rgb(0, 0, 0)!important;
    box-shadow: rgb(0 0 0 / 30%) 4px 4px 4px 2px;
    font-family: var( --fonts-) !important;
}

.buttonInnfo:hover{
    background-color:rgb(255, 179, 103) !important;
    color: rgb(255, 255, 255)!important;
    box-shadow: rgb(0 0 0 / 20%) 4px 4px 4px 2px !important
    ;
}

.text{
    font-family: var( --fonts-) !important;
}
