.formulario{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 40px;
}

.Form{
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    justify-content: space-evenly;  
}

.input{
    margin: 5px;
    width: 150px;
    padding: 2px;
    border-radius: 5px;
    border: solid black 1.5px;
}
.FormularioT{
    margin: 15px;
    background-color: var( --color-dark);
    padding: 30px;
    border-radius: 10px;

}
.iboton{
    margin: 7px;
    border: solid transparent 1px !important;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 20%) 4px 4px 4px 2px;
    background-color: var(--backgroun-buttons);
}
.iboton:hover{
    /* background-color:rgb(255, 126, 173) ; */
    color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 40%) 4px 4px 4px 2px;
    background-color:var( --color-nav) ;
}
.text{
    font-family: var( --fonts-) !important;
    font-weight: 900 !important;
}
