.searchBar {
    display: flex;
    align-items: center
}

.input {
    border-radius: 5px;
    padding: 9px;
    border-radius: 6px;
    border-style: none;
    box-shadow: rgb(0 0 0 / 20%) 4px 4px 4px 2px;

}

.submit {
    padding: 7px;
    border-radius: 6px;
    margin: 5px;
    box-shadow: rgb(0 0 0 / 20%) 4px 4px 4px 2px;
    font-family: var(--font-f);
    border: none;
    background-color: var(--backgroun-buttons);
}
.submit:hover {
    background-color: var(--backgroun-buttons);
    box-shadow: 0px 15px 20px rgba(255, 64, 214, 0.4);
    color: #fff;
    transform: translateY(-1px);
  }

.Container {

    /* margin-right: 100px; */

}